{% trans_default_domain 'WSUserBundle' %}

{% block body_html %}
<html>
<body>
	{{ 'email.user.edit.html'|trans({'%username%': user.username, '%password%': user.plainPassword, '%url%': url}) }}
</body>
</html>
{% endblock body_html %}

{% block body_text %}
{{ 'email.user.edit.text'|trans({'%username%': user.username, '%password%': user.plainPassword, '%url%': url}) }}
{% endblock body_text %}