{% block body_html %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
    </head>
    <body>
        {% block content_html %}
		{% endblock content_html %}
    </body>
</html>
{% endblock body_html %}

{% block body_text %}
{% endblock body_text %}