{% trans_default_domain 'WSUserBundle' %}

{% block subject %}{{ 'email.user.password.subject'|trans({'%username%': user.username}) }}{% endblock subject %}

{% block body_html %}
<html>
<body>
	{{ 'email.user.password.html'|trans({'%username%': user.username, '%password%': user.plainPassword, '%url%': url}) }}
</body>
</html>
{% endblock body_html %}

{% block body_text %}
{{ 'email.user.password.text'|trans({'%username%': user.username, '%password%': user.plainPassword, '%url%': url}) }}
{% endblock body_text %}